@charset "UTF-8";

* {
	font-family: 'Helvetica', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: row;
	background-color: #fdfd66;
	height: max-content;
	padding: 0.3em;
}

.logo_text {
	padding: 0.2em;
	margin: 0.5em;
	font-size: 2em;
	font-weight: 1000;
	margin-right: 60vw;
	font-size: 2em;
}

.nav_btn {
	margin: 0.5em;
	margin-top: 2vh;
	width: max-content;
	text-decoration: none;
	font-size: 1.2em;
	padding: 0.6em;
	font-weight: 600;
	background-color: #2568fb;
	color: #ffffff;
	border-radius: 5px;
	height: max-content;
}

.nav_btn:hover {
	background-color: #3D3846;
	color:#DDD;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.5em;
}

.card_header {
	margin-left: 1vw;
	font-size: 1.8em;
	color: #5A5A5A;
}
h3 {
	margin-left: 1vw;
	font-size: 1.4em;
	color: #5A5A5A;
}

.card {
	display: flex;
	flex-direction: column;
	width: 95vw;
	margin: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 1em;
}

.desc {
	line-height: 0.2;
	margin-left: 1vw;
	padding: 0.2em;
	margin: 0.4em;
	font-size: 1.2em;
	font-weight: 700;
}

.logo_out {
	font-size: 2em;
	padding: 0.4em;
	width: max-width;
	font-weight: 1000;
}

table {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

table, th, td {
	margin: 1em;
	width: 90vw;
	border: 0.6px solid #ddd;
	border-collapse: collapse;
	text-align: left;
	padding: 0.4em;
	font-size: 1.1em;
}

textarea {
	resize: none;
}

input {
	font-size: 1.2em;
	padding: 0.4em;
	margin: 0.5em;
	font-weight: 500;
	width: 60vw;
	border: none;
	background-color: #FAFAFA;
	border-bottom: solid 1px #ddd;
}

.radio {
	font-size: 1.1em;
	transform: scale(1.5);
	width: 30vw;
}

button {
	width: 50vw;
	padding: 0.4em;
	margin: auto;
	font-weight: 800;
	font-size: 1.2em;
	background-color: #2568fb;
	color: #fff;
	border: none;
}
.mainviewbtn {
	width: 80vw;
    padding: 0.4em;
    margin: auto;
    font-weight: 800;
    font-size: 1.2em;
    background-color: #2568fb;
    color: #fff;
    border: none;
    margin-left: 5vw;
}

button:hover {
	opacity: 75%;
}

.step {
    font-family: monospace;
    font-size: 1.2em;
    line-height: 0.4em;
    margin-top: 0.2em;
    padding: 0.2em;
    margin-left: 1vw;
    color: #5A5A5A;
}