@charset "UTF-8";

* {
	font-family: 'Helvetica', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: row;
	background-color: #fdfd66;
	height: 10vh;
}

.logo_text {
	padding: 0.2em;
	margin: 0.5em;
	font-size: 2em;
	font-weight: 1000;
}

.nav_btn {
	margin-left: auto;
	width: 10vw;
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	padding: 0.4em;
	padding-top: 3vh;
	font-weight: 1000;
	background-color: #2568fb;
	color: #ffffff;
}

.nav_btn:hover {
	opacity: 60%;
}

.container {
	display: flex;
	flex-direction: row;
	height: 80vh;
	justify-content: center;
	align-items: center;
}

.login_form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0.4em;
	background-color: #FAFAFA;
	width: 35vw;
	height: 50vh;
	padding: 0.8em;
	border-radius: 5px;
}

.logo_out {
	font-size: 2em;
	padding: 0.4em;
	font-weight: 1000;
}

input {
	font-size: 1.2em;
	padding: 0.4em;
	margin: 0.5em;
	font-weight: 500;
	width: 30vw;
	border:none;
	background-color:#FAFAFA;
	border-bottom: solid 1px #ddd;
}

button {
	width: 31vw;
	padding: 0.4em;
	margin: 0.5em;
	font-weight: 800;
	font-size: 1.2em;
	background-color: #2568fb;
	
	color: #fff;
	border:none;
}

button:hover {
	opacity:75%;
}